@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");

* {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 50px;
}

.forpadding {
  width: 100%;
  /* padding: 50px; */

  .sneha {
    margin: 40px;
    background: #1b8e62;
    padding: 10px;
  }
}

#raj {
  color: aqua;
}

p.krutik {
  border: 10px solid red;
}
