* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jost", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

h1 {
  /* font-size: 64px; */
  font-weight: bold;
  text-transform: lowercase;
  color: #e88282;
  text-shadow: 2px 2px 5px #000;
}

p {
  font-size: 10px;
  color: #ffb8b8;
  /* background-color: lightseagreen; */
  text-transform: uppercase;
}
/* 
.first {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1704094516867-d8ff1d9b71cc?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.second {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1704094516867-d8ff1d9b71cc?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.third {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1704094516867-d8ff1d9b71cc?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.fourth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1704094516867-d8ff1d9b71cc?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
} */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: 
        /* linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ), */ url("https://images.unsplash.com/photo-1704094516867-d8ff1d9b71cc?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;

  div {
    width: 50%;
  }
}
.hero2 {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: 
        /* linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ), */ url("https://images.unsplash.com/photo-1704140159556-88e2e6177def?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.hero3 {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: 
        /* linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ), */ url("https://images.unsplash.com/photo-1702728252966-3fa9ab3c8c18?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.hero4 {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: 
        /* linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ), */ url("https://images.unsplash.com/photo-1703053658436-27e36f06d20a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHx8");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
